.Exercise {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.Exercise__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.Exercise__time-spent {
    display: flex;
    align-items: center;
    gap: 0 8px;
}

.Exercise__title {
    word-break: break-word;
}

.Exercise__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Exercise__medium {
    font-weight: 500;
}

.Exercise__footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Exercise__site {
    display: flex;
    align-items: center;
}
.Exercise__site svg{
    height: 35px;
    width: 35px;
}