.Exercise {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.Exercise__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.Exercise__time-spent {
    display: flex;
    align-items: center;
    gap: 0 8px;
}

.Exercise__title {
    word-break: break-word;
}

.Exercise__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Exercise__time {
    display: flex;
    align-items: center;    
    gap: 8px;
}

.Exercise__status {
    padding: 5px 7px;
    border: 1px solid rgba(0 0 0 / .3);
    border-radius: var(--border-radius);
    font-weight: 500;
}

.Exercise__medium {
    font-weight: 500;
}

.Exercise__footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Exercise__items {
    margin-top: 15px;
}

.Exercise__item {
    display: flex;
    align-items: start;
    gap: 8px;
}

.Exercise__item + .Exercise__item {
    margin-top: 10px;
}

.Exercise__svgWrapper{
    height: 35px;
    width: 35px;
}
.Exercise__svgWrapper svg{
    height: 100%;
    width: 100%;
}

.Exercise__siteData{
    width: 100%;
}

.Exercise__tracked{
    display: flex;
    align-items: center;
    gap: 8px;
}