.Button {
    padding: 7px 15px;

    color: var(--color-text-light);
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    border: 1px solid transparent;

    display: flex;
    align-items: center;
    justify-content: center;
}

.Button:focus,
.Button:hover {
    box-shadow: 3px 3px black;
}