:root{
    --screen-width: 320px;
    --screen-height: 400px;

    --ghostwhite: ghostwhite;
}

body {
    width: var(--screen-width);
    height: var(--screen-height);
    background-color: var(--ghostwhite);
}