@import 'reset.css';
@import 'fonts.css';

:root{
    --screen-width: 400px;
    --screen-height: 500px;

    --bg-color: #fff;
    
    --border-color: #000;
    --border-radius: 8px;

    --layout-padding: 5px 10px;

    --color-text: #181818;
    --color-text-light: #fff;

    --color-primary: #7350F3;
    --color-new: #18DD43;
    --color-info: #267CFD;
    --color-ghost: #fafafa;
}

body {
    width: var(--screen-width);
    height: var(--screen-height);

    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

p {
    font-size: 14px;
}