@import 'fonts.css';

:root{
    --screen-width: 320px;
    --screen-height: 400px;

    --bg-color: #fff;
    
    --border-color: #000;
    --border-raduis: 8px;
}

body {
    width: var(--screen-width);
    height: var(--screen-height);

    font-family: 'Ubuntu', sans-serif;
}