@import 'reset.css';
@import 'fonts.css';

:root{
    --screen-width: 400px;
    --screen-height: 500px;

    --bg-color: #fff;
    
    --border-color: #000;
    --border-radius: 8px;
    
    --color-text: #181818;
    --color-text-light: #fff;

    --color-primary: #7350F3;
    --color-primary-shadow: #5434c9;
    --color-new: #18DD43;
    --color-new-shadow: #0ea02d;
    --color-info: #267CFD;
    --color-info-shadow: #0f55c0;
    --color-error: red;
    
    --color-ghost: #f0f0f0;
  
    --font-size-base: 14px;

    --svg-size: 20px;
}

body {
    width: var(--screen-width);
    height: var(--screen-height);

    font-family: 'Ubuntu', sans-serif;

    font-size: var(--font-size-base);
    font-weight: 400;
}

h1 {
    font-size: 24px;
    font-weight: 700;
}

h2 {
    font-size: 18px;
    font-weight: 500;
}

h3 {
    font-size: 16px;
    font-weight: 500;
}

svg {
    width: var( --svg-size);
    height: var( --svg-size);
}